[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ratdat"]
	path = ratdat
	url = https://github.com/cran/ratdat
	shallow = true
	registered = true
